@import 'utils/variables';
@import 'utils/mixins';
@import 'base/reset';
@import 'base/fonts';
// @import 'components/';
@import 'components/buttons';
// @import 'layouts/';
@import 'layouts/item';
@import 'layouts/leftColumn';
@import 'layouts/pageRessourcesOuInstallations';
// @import 'pages/';
@import 'pages/production';

body {
  color: white;
  background-image: url('../images/background-space2.jpg');
}

.App {
  display: flex;
  justify-content: center;;
}

* {
  border-radius: 0.2em;
}